<% provide(:title, 'Feed') %>
<% if logged_in?  %>
  <div class="row">
    <aside class="col-md-5">
      <section class="user-info-feed">
        <%= render 'shared/about_user' %>
      </section>
      <% if logged_in? && @user.id == @current_user.id %>
        <section class="panel panel-default main-panel">
          <div class="panel-body">
            <%= render 'shared/micropost_form' %>
          </div>
        </section>
      <% end %>
      <section class="panel panel-default tag-cloud-panel">
        <div class="panel-body">
          <% if @micropost&.tag_counts.empty? %>
            <div class="empty-zone">
              <h1>Sorry</h1>
              <h4>No #tags :(</h4>
            </div>
          <% else %>
            <ol>
              <h4>Popular tags:</h4>
              <% @micropost.tag_counts.sort_by(&:count).last(8).each do |tag| %>
                <li><%= link_to '#' + tag.name, tag_path(tag.id) %></li>
              <% end %>
            </ol>
          <% end %>
        </div>
      </section>
    </aside>
      <div class="col-md-7">
        <% if @feed_items.any? %>
          <%= render 'shared/feed' %>
        <% else %>
          <div class="empty-zone">
            <h1>Black words </h1>
            <h4>on this perfect white background.</h4>
          </div>
        <% end %>
      </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 feed-for-guest">
      <%= render 'shared/feed' %>
    </div>
  </div>
  <div class="center jumbotron">
    <span class="main-title">Social Network by R1cro</span>
    <h2>
      This is the home page for the <a href="https://github.com/R1cro/SocialNetwork/">my web-application.</a>
      If you already registered, please, <a href="/login">log in</a>.
      If you not, so, it is a time to sign up!
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Log in", login_path, class: "btn btn-lg" %>
  </div>
<% end %>
