$("#likes-form-<%= @micropost.id %>").html("<%= escape_javascript(render 'microposts/like', micropost: @micropost)%>");
$("#like-count-<%= @micropost.id %>").html(
  '<% if @micropost.likes.count != 0 %>' +
    '<span class="badge liked">' +
      '<%= link_to @micropost.likes.count, micropost_like_url(@micropost.id) %>' +
    '</span>' +
  '<% else %>' +
    '<span class="badge"><%= @micropost.likes.count %></span>' +
  '<% end %>');
$("#liker-avatars-<%= @micropost.id %>").hide().fadeIn(1000).html("<%= escape_javascript(render 'microposts/post_likers', micropost: @micropost) %>");

