<li>
  <div class="avatar">
    <%= image_tag user.user_profile.avatar.url if user.user_profile.avatar? %>
  </div>
  <p> <%= link_to user.email, user %> </p>
  <h4> <%= user.user_profile.first_name %>
      <%= user.user_profile.second_name %></h4>
  <div class="user-delete">
    <% if logged_in? && current_user.admin? && !current_user?(user) %>
         | <%= link_to "delete", user, method: :delete,
                      data: { confirm: "You sure?" } %>
    <% end %>
  </div>
</li>