<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <fieldset class="password-field">
          <legend> Change Password: </legend>
          <%= f.label :password %>
          <%= f.password_field :password %>

          <%= f.label :password_confirmation, "Confirm Password" %>
          <%= f.password_field :password_confirmation %>
        </fieldset>

        <fieldset class="avatar-field">
          <legend> Avatar </legend>
          <%= gravatar_for @user %>
          <a href="http://gravatar.com/emails">change</a>
        </fieldset>

        <fieldset class="personal-field">
          <legend> Personal Information: </legend>
          <%= f.fields_for :user_profile_attributes do |up| %>
            <%= up.label :first_name %>
            <%= up.text_field :first_name %>

            <%= up.label :second_name %>
            <%= up.text_field :second_name %>

            <%= up.label :birthday %>
            <%= up.date_select :birthday,
                { order: [:month, :day, :year], prompt:
                { day: 'Select day', month: 'Select month', year: 'Select year' },
                 start_year: Date.today.year - 15, end_year: Date.today.year - 70}, {required: true} %>

            <%= up.label :city %>
            <%= up.text_field :city %>
          <% end %>
        </fieldset>

        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>