<% provide(:title, @user.email) %>
<div class="row">
  <aside>
    <section>
      <%= gravatar_for @user %>
      <% if @user.first_name.nil? %>
        <h1>
          <%= @user.email %>
          <% if @user.admin? %>[ADMIN]<% end %>
        </h1>
      <% else %>
        <h1>
          <%= @user.email %>
          <% if @user.admin? %>[ADMIN]<% end %>
        </h1>
        <p>
          <%= @user.first_name %>
          <%= @user.second_name %>,
          <%= @user.age(@user.birthday) %>.
          <%= @user.city %>
        </p>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
        <h3>User posts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
    <% end %>
  </div>
  <article>
  </article>
</div>
