<% provide(:title, @user.email) %>
<div class="row">
  <aside class="col-md-5">
    <section class="user-info-feed">
      <div class="user-profile">
        <%= render 'shared/about_user' %>
      </div>
      <div class="statistics">
        <%= render 'shared/statistics' %>
      </div>
    </section>
    <% if logged_in? && @user.id == @current_user.id %>
      <section class="panel panel-default main-panel">
        <div class="panel-body">
          <%= render 'shared/micropost_form' %>
        </div>
      </section>
    <% end %>
  </aside>
  <div class="col-md-7">
    <h5>
      User posts <span class="badge"><%= @user.microposts.count %></span>
    </h5>
    <% if @user.microposts.any? %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <div id="scrolling">
        <div id="loading"><img src="/ajax-loader.gif" alt="Loading..."></div>
        <%= will_paginate @microposts %>
      </div>
    <% else %>
      <div class="empty-zone">
        <hr>
          <h1>No posts...</h1>
          <h4>Where is your posts, dude?</h4>
        <hr>
      </div>
    <% end %>
  </div>
</div>
