<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <%= render 'shared/about_user' %>
      <div class="relationship">
        <%= render 'shared/relationship' %>
      </div>
    </section>
    <section class="follower-section">
      <% if @users.any? %>
        <div class="user-avatars">
          <% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: 40), user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">

    <% if @users.any? %>
      <h4><%= @title %></h4>
      <ul class="users follow">
        <%= render @users %>
        <%= render 'users/user_follow_form' %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>