<% provide(:title, @user.email) %>
<div class="row">
  <aside>
    <section>
      <%= gravatar_for @user %>
      <h1>
        <%= @user.email %>
      </h1>
      <p><%= @user.first_name %>
      <%= @user.second_name %>,
      <%= @user.age(@user.birthday) %> years.
      </p>
    </section>
  </aside>
  <article>
  </article>
</div>
