<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-5">
    <section class="user-info-feed">
      <div class="user-profile">
        <%= render 'shared/about_user' %>
      </div>
    </section>
    <section>
      <div class="statistics">
        <%= render 'shared/statistics' %>
      </div>
    </section>
    <section class="follower-section">
      <% if @users_avatar.any? %>
        <div class="user-avatars">
          <% @users_avatar.each do |user| %>
            <%= link_to avatar_for(user, 40), user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-7">
    <% if @users.any? %>
      <h5><%= @title %></h5>
      <div id="users-follow" class="users follow">
        <%= render @users %>
      </div>
      <div id="scrolling">
        <div id="loading"><img src="/ajax-loader.gif" alt="Loading..."></div>
        <%= will_paginate @users %>
      </div>
    <% else %>
      <div class="empty-zone">
        <h1>Followers 0 | 0 Following </h1>
        <h4>Maybe you need to do something?</h4>
      </div>
    <% end %>
  </div>
</div>
