<% provide(:title, @user.email) %>
<div class="row">
  <aside>
    <section class="user-form">
      <%= render 'shared/about_user' %>
      <% if logged_in? && @user.id == @current_user.id %>
        <%= render 'shared/micropost_form' %>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
        <h3>User posts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
