<% provide(:title, @user.email) %>
</section>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <aside>
      <section class="user-form">
        <%= render 'user_follow_form' if logged_in? %>
        <%= render 'shared/about_user' %>
        <% if logged_in? && @user.id == @current_user.id %>
          <div class="posting-form">
            <%= render 'shared/micropost_form' %>
          </div>
        <% end %>

      </section>
    </aside>
    <% if @user.microposts.any? %>
        <h3>User posts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
