<div class="user-details">
  <%= gravatar_for @user %>
  <h1>
    <%= @user.user_profile.first_name %>
    <%= @user.user_profile.second_name %>
  </h1>
  <p>
    <%= @user.email %>
    <% if !@user.user_profile.birthday.nil? || !@user.user_profile.city.nil? %>
      - <%= @user.user_profile.age(@user.user_profile.birthday) %> old.
        <%= @user.user_profile.city %>.
    <% end %>
  </p>
</div>