<div class="panel panel-default">
  <div class="panel-body">
    <li id="micropost-<%= micropost.id %>">
      <%= link_to avatar_for(micropost.user, 80), micropost.user %>
      <% if micropost.user.user_profile.first_name.nil? %>
        <h4 class="post-owner"><%= link_to micropost.user.email , micropost.user %></h4>
      <% else %>
        <h4 class="post-owner"><%= link_to micropost.user.user_profile.first_name + ' ' + micropost.user.user_profile.second_name , micropost.user %></h4>
      <% end %>
      <span class="content"><%= process_content(micropost) %></span>
      <div class="post-image"><%= image_tag micropost.image.url if micropost.image? %></div>
      <div class="like-panel">
        <%= render partial: 'microposts/like_form', locals: { micropost: micropost } %>
        <%= render partial: 'microposts/likes', locals: { micropost: micropost } %>
      </div >
      <span class="timestamp">
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
       <span class="remove-post">
         <% if current_user?(micropost.user) %>
           <%= link_to micropost, method: :delete,
                                  data: { confirm: "Remove your post?" },
                                  class: 'post-delete-link' do %>
             <i class="fa fa-lg fa-trash"></i>
           <% end %>
         <% end %>
       </span>
      </span>
    </li>
  </div>
</div>
