<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 70), micropost.user %>
  <% if micropost.user.user_profile.first_name.nil? %>
    <h4><%= link_to micropost.user.email , micropost.user %></h4>
  <% else %>
    <h4><%= link_to micropost.user.user_profile.first_name + ' ' + micropost.user.user_profile.second_name , micropost.user %></h4>
  <% end %>
  <span class="content"><%= find_hashtag(micropost.content) %></span>
  <div class="post-image"><%= image_tag micropost.image.url if micropost.image? %></div>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <br>
    #<%= raw micropost.tags.map {|t| link_to t, tag_path(t) }.join(' #') %>
    <% if current_user?(micropost.user) %> |
      <%= link_to 'Delete', micropost, method: :delete, data: { confirm: "Remove your post?" }, class: 'post-delete-link' %>
    <% end %>
  </span>
</li>